<!--<ul class="statementList indent">-->
    <!--<li class="statement-item" node-container context="item" ng-repeat="item in statementList"></li>-->
<!--</ul>-->

<!--<div class="edit-mode">-->
    <!--<div class="block indent droppable {{statementsGroup}}" data-group="{{statementsGroup}}" ng-hide="statementList.length > 0">-->
        <!--<i>Drag Return Statement Here</i>-->
    <!--</div>-->
    <!--<span class="remove glyphicon glyphicon-remove-circle" ng-click="removeStatement($index)"></span>-->
<!--</div>-->


