<div class="row equal-to-expression">
    <div class="col-sm-3 expression-left-nav" ng-show="scopeList.length > 0">
        <ul class="scopeList">
            <li class="scope-item" ng-repeat="item in scopeList">
                <input type="radio" ng-model="left" name="items" value="{{item.name}}" ng-click="assignVariable()" /><label>{{item.name}}</label>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
        <span class="row edit-mode">
            <div class="col-sm-3 left-expression Expressions block droppable" droppable="true" data-group="Expressions">{{left}}</div>
            <div class="col-sm-3 expression-operator"> is equal to</div>
            <div class="col-sm-3 right-expression Literals block droppable" droppable="true" data-group="Literals">{{right}}</div>
            <span class="remove glyphicon glyphicon-remove-circle col-sm-3" ng-click="removeExpression($index)" title="Delete Expression"></span>
        </span>
        <div class="row">
            <div class="literal-input col-sm-10">
                <div class="booleanPanel" ng-show="activeLiteral==='BooleanLiteral'">
                    <label>Enter Boolean Literal value: </label>
                    <select class='selectBoolean form-control' ng-options='value as value for value in booleanValues' ng-model='booleanLiteral' ng-change='selectBooleanChange()'></select>
                </div>
                <div class="integerPanel" ng-show="activeLiteral==='IntegerLiteral'">
                    <label>Enter Integer Literal value: </label>
                    <input class='integerInput form-control'  ng-model='integerLiteral' ng-change='integerLiteralChange()' />
                </div>
                <div class="stringPanel" ng-show="activeLiteral==='StringLiteral'">
                    <label>Enter String Literal value: </label>
                    <input class='stringInput form-control'  ng-model='stringLiteral' ng-change='stringLiteralChange()' />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-11 text-right">
        <button class="btn btn-info save" type="button" ng-click="updateExpression()"><span class="glyphicon glyphicon-save"></span>Update Expression</button>
    </div>
</div>





