<section class="rb-function">
    <section class="row display-mode">
        <span>Function</span>
        <strong>{{name}} <span class="error-text" ng-hide="function_form.function_name.$valid">{{function_form.function_name.$viewValue}}</span></strong>

        <span>as</span>
        <strong>{{returnType}}</strong>

        <ul class="parameterList indent">
            <li ng-show="parameterList.length > 0">given</li>
            <li class="parameter-item indent" node-container context="item" ng-repeat="item in parameterList"></li>
        </ul>

        <ul class="blockList indent">
            <li ng-show="blockList.length > 0">begin</li>
            <li class="block-item" node-container context="item" ng-repeat="item in blockList"></li>
            <li ng-show="blockList.length > 0">end</li>
        </ul>
    </section>

    <section class="row edit-mode">
        <div class="grip-bar col-sm-12">
            <form class="form-inline" name="function_form" role="form">
                <!--<div class="error-container" ng-show="function_form.function_name.$error.pattern">-->
                    <!--<span>Invalid input</span>-->
                <!--</div>-->

                <span>Function</span>
                <input ng-class="{'input-error' : function_form.function_name.$invalid}" class="form-control" class="block-input" name="function_name" ng-model="name" placeholder="Enter Function Name" ng-required="true" ng-pattern="namePattern"  />

                <span>as</span>
                <select class="form-control" ng-model="returnType" ng-change="onReturnTypeChange($viewValue)" ng-options="obj for obj in returnTypes">
                    <option class="form-control" value="item">Choose Type</option>
                </select>


                <ul class="parameterList indent">
                    <li ng-show="parameterList.length > 0">given</li>
                    <li class="parameter-item indent" node-container context="item" ng-repeat="item in parameterList">

                    </li>
                </ul>

                <div class="block droppable indent">
                    <i>Drag Parameter Node Here</i>
                </div>

                <ul class="blockList indent">
                    <li ng-show="blockList.length > 0">begin</li>
                    <li class="block-item" node-container context="item" ng-repeat="item in blockList"></li>
                    <li>
                        <div class="block indent droppable">
                            <i>Drag Statements Here</i>
                        </div>
                    </li>
                    <li ng-show="blockList.length > 0">end</li>
                </ul>
            </form>
        </div>
        <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeFunction($index)"></span>
    </section>
</section>
