<div class="row literal-expression editor">

    <div class="col-sm-11 col-sm-offset-1">
        <div class="row">
            <div class="literal-input col-sm-10">
                <div class="booleanPanel" ng-show="activeLiteral==='BooleanLiteral'">
                    <label>Enter Boolean Literal value: </label>
                    <select class='selectBoolean form-control' ng-options='value as value for value in booleanValues' ng-model='booleanLiteral' ng-change='selectBooleanChange()'></select>
                </div>
                <div class="integerPanel" ng-show="activeLiteral==='IntegerLiteral'">
                    <label>Enter Integer Literal value: </label>
                    <input class='integerInput form-control'  ng-model='integerLiteral' ng-change='integerLiteralChange()' />
                </div>
                <div class="stringPanel" ng-show="activeLiteral==='StringLiteral'">
                    <label>Enter String Literal value: </label>
                    <input class='stringInput form-control'  ng-model='stringLiteral' ng-change='stringLiteralChange()' />
                </div>
                <div class="nullPanel" ng-show="activeLiteral==='NullLiteral'">
                    <label>empty</label>
                </div>
            </div>
        </div>
    </div>
    <span class="remove glyphicon glyphicon-remove-circle" ng-click="closeInfixEditor()" title="Close Editor"></span>
</div>
<div class="row">
    <div class="col-sm-11 text-right">
        <button class="btn btn-primary save btn-lg" type="button" ng-click="updateExpression()"><span class="glyphicon glyphicon-save"></span>Update Expression</button>
    </div>
</div>





