<section class="rb-parameter-node">
    <section class="row display-mode">
        <span><strong>{{item.name}}</strong> as <strong>{{item.value}}</strong></span>
    </section>

    <section class="row edit-mode">
        <input class="form-control" class="block-input" ng-change="paramNameChange()" placeholder="Enter Parameter Name" ng-model="item.name" ng-required="true" ng-pattern="parameterPattern" />
        <span>as</span>
        <select class="form-control" ng-model="item.value" ng-change="onReturnTypeChange($viewValue)"  ng-options="obj for obj in $parent.returnTypes">

        </select>
            <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeParameter($index)"></span>
    </section>
</section>

