<section class="rb-return-statement indent">


    <span class="display-mode">
        <span class="return-keyword">return</span>
        <span class="expression-node"></span>
    </span>

    <span class="edit-mode">
        <div class="row">
            <span class="return-keyword">return</span>
            <span class="expression-node"></span>
            <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeStatement($index)" title="Delete Return Statement"></span>
        </div>
    </span>

</section>


