<section class="rb-return-statement indent">
    <span class="display-mode" ng-hide="isEditMode">
        <span class="return-keyword">return</span>
        <span class="expression-node" ng-hide="!item.expression">
            <span class="text" ng-bind-html="exp.text"></span>
        </span>
    </span>

    <span class="edit-mode" ng-hide="!isEditMode">
        <div class="row">
            <div class="col-sm-11">
                <span class="return-keyword">return</span>
                <span class="expression-node" ng-hide="!item.expression">
                    <span rb-expressiontext class='express' item="item"></span>
                </span>
                <span class="block droppable Expressions Literals" data-group="Expressions, Literals" ng-hide="item.expression">
                    <i><span class="glyphicon glyphicon-tint"></span>Drop Expression Here</i>
                </span>

            </div>

            <span class="col-sm-1 remove glyphicon glyphicon-remove-circle" ng-click="removeStatement($index)" title="Delete Return Statement"></span>
        </div>
    </span>

</section>


