
<span>return</span>
<span class="expression-item" node-container context="item" ng-repeat="item in expressionList"></span>


<!--<section class="row parameter-node edit-mode">-->
    <!--<form class="form-inline" role="form">-->
        <!--<div class="form-group">-->

            <!--<input class="form-control" class="block-input" placeholder="Enter Parameter Name">-->
            <!--<kbd>as</kbd>-->
            <!--<select class="form-control" ng-model="returntype" ng-change="onReturnTypeChange($viewValue)"  ng-options="obj for obj in $parent.returnTypes">-->
                <!--<option class="form-control" value="item">Choose Type</option>-->
            <!--</select>-->

        <!--</div>-->
    <!--</form>-->
<!--</section>-->


