<section ng-controller="RulesBuilderCtrl">
    <section class="col-sm-4 rules-list left-nav">
        <div class="row">
            <ul class="nodeTypeList">
                <li ng-repeat="nodeItem in nodes" class="node-thumbnail" node-thumbnail>
                    <button type="button" draggable="true" class="btn btn-primary draggable  {{nodeItem['-id']}}">{{nodeItem['-id']}}</button>
                </li>
            </ul>
        </div>
    </section>

    <section class="col-sm-8 main-content">
        <div class="row">
            <div><button class="btn btn-success" type="button" ng-click="toggleDisplayMode()" ng-hide="uiTree.children.length === 0">{{modeCaption}}</button></div>

            <!--<tree family="treeFamily"></tree>-->
            <div node-container ng-model="uiTree" class="canvas droppable col-sm-12"></div>
        </div>
    </section>
</section>