<section class="row statement display-mode">
    <span><strong>{{nodeItem.name}}</strong> as <strong>{{nodeItem.value}}</strong></span>
</section>

<!--<section class="row parameter-node edit-mode">-->
    <!--<form class="form-inline" role="form">-->
        <!--<div class="form-group">-->

            <!--<input class="form-control" class="block-input" placeholder="Enter Parameter Name">-->
            <!--<kbd>as</kbd>-->
            <!--<select class="form-control" ng-model="returntype" ng-change="onReturnTypeChange($viewValue)"  ng-options="obj for obj in $parent.returnTypes">-->
                <!--<option class="form-control" value="item">Choose Type</option>-->
            <!--</select>-->

        <!--</div>-->
    <!--</form>-->
<!--</section>-->


