<section class="rb-validation" data-validationid="{{item.id}}">
    <section class="row display-mode" ng-hide="isEditMode">
        <div class="validation-expression" ng-show="name === 'Validation-Function-1'">
            <div class="function-keyword">Validate:</div>

            <span class="expression-node">
                <span rb-expressiontext item="item"></span>
            </span>
        </div>


        <div class="validation-message" ng-show="name === 'Validation-Function-2'">
            <div class="function-keyword">Message:</div>

            <span>{{validationMessage}}</span>
        </div>
    </section>

    <section class="row edit-mode" ng-hide="!isEditMode">
        <div class="col-sm-11">
            <form class="form-inline" name="function_form" role="form">
                <div class="validation-expression row" ng-show="name === 'Validation-Function-1'">
                    <div class="col-sm-11">
                        <div class="function-keyword">Validate:</div>

                        <!--<div class="validation-expression" ng-show="name === 'Validation-Function-1'">-->
                            <!--<span class="expression-node"></span>-->
                        <!--</div>-->
                        <span class="expression-node" ng-hide="!item.expression">
                            <span rb-expressiontext class='express' item="item"></span>
                        </span>
                        <span class="block droppable Expressions" data-group="Expressions" ng-hide="item.expression">
                            <i><span class="glyphicon glyphicon-tint"></span>Drop Expression Here</i>
                        </span>
                    </div>
                    <span class="col-sm-1 remove glyphicon glyphicon-remove-circle" ng-click="removeValidation($index)" title="Delete Validation"></span>
                </div>


                <div class="validation-message" ng-show="name === 'Validation-Function-2'">
                    <div class="function-keyword">Message:</div>

                    <input ng-class="{'input-error' : function_form.validation_message.$invalid}" class="form-control block-input user-input" name="validation_message" ng-change="validationMessageChange()" ng-model="validationMessage" placeholder="Enter Message" ng-required="true" "  />
                </div>
            </form>
        </div>

    </section>
</section>
