/* Space out content a bit */
body { font-size: 16px; }
input { font-size: 16px; }

.logo { height: 135px; }
/* Prevent the text contents of draggable elements from being selectable. */
.draggable { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; -khtml-user-drag: element; -webkit-user-drag: element; cursor: move; }

/*.droppable.over { border: 3px dashed #000; }*/
/*.droppable { position: relative; margin-bottom: 7px; }*/

#error { color: #FF0000; font-weight: bold; }

/*toolbar*/
.toolbar { margin-bottom: 10px; }
.toolbar .actions { padding-top: 100px; }
.toolbar .actions .toggle-edit span,
.toolbar .actions .save span,
.toolbar .actions .reset span { margin-right: 5px; }

/* modal */
.modal-body img { max-width: 555px; }
.modal-header h3.warning { margin: 0; color: #FF0000; }
.modal-header h3.success { margin: 0; color: #008000; }

/*form*/
.css-form input.ng-invalid.ng-dirty { background-color: #FA787E; }

/* edit types */
.edit-types { margin-bottom: 70px; }
.add-new-type { margin-right: 20px; }
#txtNewType, #txtNewDoc { margin-right: 10px; margin-top: 10px; }
#json-view { min-height: 200px; background-color: #EEE; }
.navbar-fixed-bottom li.add-new-type { padding-top: 0; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.left-nav { border: 1px solid #EEE; background-color: gray; }
.btn.draggable { white-space: normal; text-align: left; }

/*.canvas.droppable { height: 800px; }*/
.rules-list ul, .canvas { list-style-type: none; }
.main-content { background-color: #EEE; padding: 20px 0 15px 0; }

/*layout*/
.nodeTypeList { background-color: aliceblue; padding: 10px; list-style-type: none; }
.parameterList,
.statementList,
.blockList,
.statementList { list-style-type: none; margin-bottom: 10px; margin-top: 10px; padding-left: 0; }

.parameterList { width: 60%; }
.blockList { width: 80%; }


.nodeTypeList li,
.parameterList li,
.statementList li,
.canvas li { background: none !important; }
.statementList li:first-child { margin-bottom: 10px; }
.node-thumbnail { padding-bottom: 10px; }
.block.droppable { width:300px; border: dashed 1px #000; padding: 5px; text-align: center; border-radius: 4px; }
.block.droppable.over { border: 3px dashed #000; }
.block.droppable.indent { margin-left: 43px; }
.block.droppable .glyphicon { margin-right: 5px; }
.blockList .block.droppable.indent { margin-left: 22px; }

.statement-item { margin-bottom: 5px; }

/* common control styles  */
input, select { font-weight: bold; }
.form-inline { padding: 0 !important; }

.indent { margin-left: 20px; }
.type-caption { color: #000; }
.code-block  { margin-right: 0; margin-left: 0; background-color: #FFF; border-color: #DDD; border-width: 1px; border-radius: 4px 4px 0 0; -webkit-box-shadow: none; box-shadow: none;  }
.edit-mode { display: none; position: relative; }
.edit-mode .remove { cursor: pointer; color: #000; opacity: .4; }
.edit-mode .remove:hover { opacity: 1; color: #FF0000;  }
.display-mode {  padding: 15px; }
.display-mode,
.edit-mode { font-family: Menlo, Monaco, Consolas, "Courier New", monospace;}


/* Function */
.add-declaration-param { font-size: 12px; }
.rb-function { background-color: lightgray; padding: 15px; border-radius: 4px; margin-bottom: 10px; }
.rb-function .edit-mode  { position: relative; }
.rb-function .edit-mode .remove { position: absolute; right: 6px; top: 3px; }
.function-return-type { background-color: #e38d13; }
.parameter-node.display-mode { margin-left: 0px; }
.function-keyword,
.operator-keyword { color: #000; font-weight: bold; }
.block-keyword { color: #0000cc; font-weight: bold; }
.return-keyword { color: #800000; font-weight: bold; }
.user-input { color: #008000; font-weight: bold; }
.edit-mode .user-input { color: #555; font-weight: bold; }
/*.equal-to-expression { background-color: #dca7a7; }*/

/*Parameters*/
/*.rb-parameter-node .edit-mode .remove { position: absolute; right: -37px; }*/
.rb-parameter-node { position: relative; margin-bottom: 5px; }
.rb-parameter-node .display-mode { padding: 0; margin-top: 10px; }
.parameter-item.indent { margin-left: 38px; }

/* Return Statement */
.rb-return-statement .display-mode,
.rb-return-statement .edit-mode{ padding-left: 0; }
.rb-return-statement .edit-mode .expression-node .user-input { color: lightgreen; }
.rb-return-statement .edit-mode .expression-node .operator-keyword { color: #FFF; }
.rb-return-statement .edit-mode .expression-node { padding: 10px; border-radius: 4px; position: relative; }

.rb-return-statement .edit-mode .remove { position: absolute; right: -8px; top: -4px; }

/*Equal to Expression */
.equal-to-expression.display-mode { padding-left: 0; }

/* Error validation */
.input-error { border: solid 1px red; }
.error-text { color: red; }
.error-container { font-weight: bold; color: red; }

/* thumbnail blocks */
.Declarables { background-color: cadetblue; color: #EEE; }
.Declarables:hover { color: #EEE; }
.Statements { background-color: #b5d592; color: #333; }
.Statements:hover { color: #333; }
.Expressions { background-color: sienna; color: #EEE; }
.Expressions:hover { color: #EEE; }
.Literals { background-color: wheat; color: #333;}
.Literals:hover { color: #333; }

/*expression editor */
/*.expression-editor { position: absolute; top: 0px; left: 0px; height: 200px; width: 300px; }*/